[Unit]
Description=RedBorder Druid Indexer Manager

[Service]
Type=simple
ExecStart=/usr/bin/rb-druid-indexer --config /etc/rb-druid-indexer/config.yml
KillSignal=SIGQUIT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target