name: Test rb-druid-indexer (unit tests -> integration tests)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create log directory
        run: |
          sudo mkdir -p /var/log/rb-druid-indexer/
          sudo chmod -R 777 /var/log/rb-druid-indexer/

      - name: Start ZooKeeper using Docker
        run: |
          sudo docker run -d --name zookeeper -p 2181:2181 zookeeper:3.8.4

      - name: Wait for ZooKeeper to be ready
        run: |
          sleep 10 

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.22.7'

      - name: Run Unit tests
        run: |
          sudo su -c 'go test -coverprofile=coverage.txt ./...' 

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Stop and remove ZooKeeper
        run: |
          sudo docker stop zookeeper
          sudo docker rm zookeeper

  integration-tests:
    needs: unit-test
    runs-on: ubuntu-latest
    
    services:
      docker:
        image: docker:19.03.12
        options: --privileged
        ports:
          - 9092:9092
          - 2181:2181
          - 5432:5432
          - 8081:8081
          - 8082:8082
          - 8083:8083
          - 8888:8888
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Generate docker-compose.yml
        run: |
          ./integration/rb_generate_compose.sh > docker-compose.yml

      - name: Start Docker containers
        run: |
          cd integration && docker-compose -f docker-compose.yml up -d

      - name: Build rb-druid-indexer
        run: |
          go build -o rb-druid-indexer
          
      - name: Check if rb-druid-indexer binary exists
        run: |
          if [ ! -x "./rb-druid-indexer" ]; then
            echo "Indexer binary does not exist or is not executable!"
            exit 1
          fi
          echo "Indexer binary exists and is executable."

      - name: Start Kafka
        run: |
          docker-compose up -d kafka
          # O el comando que uses para iniciar Kafka
          
      - name: Wait for Kafka to be ready
        run: |
          echo "Waiting for Kafka container to be ready..."
          sleep 10
          
      - name: Create Kafka topics
        run: |
          TOPICS=("rb_monitor" "rb_flow_post")
          PARTITIONS=1
          REPLICATION_FACTOR=1
          for TOPIC in "${TOPICS[@]}"; do
            echo "Creating topic: $TOPIC"
            docker exec kafka kafka-topics --create --topic "$TOPIC" --bootstrap-server localhost:9092 --partitions $PARTITIONS --replication-factor $REPLICATION_FACTOR
            if [ $? -eq 0 ]; then
              echo "Topic '$TOPIC' created successfully!"
            else
              echo "Failed to create topic '$TOPIC'."
            fi
          done

      - name: Check Kafka topic existence
        run: |
          TOPIC="rb_flow_post"
          docker exec kafka kafka-topics --list --bootstrap-server "127.0.0.1:9092" | grep -q $TOPIC
          if [ $? -eq 0 ]; then
            echo "Kafka topic '$TOPIC' exists."
          else
            echo "Kafka topic '$TOPIC' does not exist!"
            exit 1
          fi

      - name: Create log files and directories
        run: |
          echo "Creating log directories and files..."
          sudo mkdir -p /var/log/rb-druid-indexer
          sudo touch /var/log/rb-druid-indexer/debug.log
          sudo touch /var/log/rb-druid-indexer/info.log
          sudo touch /var/log/rb-druid-indexer/error.log
          echo "Log files created successfully!"

      - name: Start rb-druid-indexer
        run: |
          sudo ./rb-druid-indexer --config ./integration/config.yml &
      
      - name: run tests
        run: |
          sleep 30
          sudo ./integration/rb_run_integration_tests.sh

      - name: Stop Docker containers
        run: |
          docker-compose -f ./integration/docker-compose.yml down
